@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: var(--font-ibm-plex-sans), sans-serif;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #c6c6cf;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #76767f;
  }
}

@layer components {
  .active-project-bar {
    position: relative;
  }
  .active-project-bar::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    height: 16px;
    background-color: #1162fb;
    border-radius: 0 4px 4px 0;
  }
}
